{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div id="hero" class="wrap">
  <h3>{{.Title }}</h3>
    
</div>


{{ $url := "/data/pubitems.json" }}
{{ $dataJ := getJSON $url }}

<div class="row align-center">
    <div class="publist">
    	<ul>
	{{ range $dataJ }}
		{{ $pubitem := .}}
			<li>
				<!-- <p ><b>{{$pubitem.title}}</b> <br> -->
					{{ if eq $pubitem.doi ""}} <p ><b>{{$pubitem.title}}</b> {{ end }}
					{{ if ne $pubitem.doi ""}} <a href="{{$pubitem.doi}}"><b>{{$pubitem.title}}</b></a> {{ end }}
					<br> 
					{{$pubitem.authors}} <br>
					{{$pubitem.venue}}, {{$pubitem.place}}, {{$pubitem.year}} <br>
					<span class="label success"><a href="{{$pubitem.preprint | relURL}}">Preprint</a></span>
				</p>
			</li>
		{{ end }}
		</ul>
    </div>
</div>

{{ end }}
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
