{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h3>{{.Title}}</h3>
    <span class="monospace muted">"Promoting the culture of quality from the ground up"</span>
  </div>
  <div class="row align-center">
    <div class="col col-7">
      <p>
      Quality4Blocks is a research project concerned with promoting the culture of quality among introductory computing learners via three interrelated initiatives: (1) understanding the recurring quality problems of block-based programs, (2) enhancing block-based programming pedagogy with relevant quality topics, and (3) developing software infrastructure to support quality improving practices in block-based programming. This project aims to foster student knowledge, skills, and practices, required to improve software quality. Our long-term vision is to  bring proven, real-world software engineering practices to the introductory computer science curriculum, so as to impart the importance of following principled software engineering practices to novice programmers.
      </p>
    </div>
</div>


  <!-- <div>
    <div class="message focus" data-component="message"> <span class="close small"></span>
      This website is under construction. Please revisit to see updates!
    </div>
  </div> -->

  <div id="components">
  <div class="row gutters align-center">

    <div class="col col-3 item"> 
      <h6> Why software quality matters? </h6>
       <a class="black" href="{{ "/resources/why-quality-matters/" | relURL }}">Learn about the importance of software quality</a>
    </div>  

    <div class="col col-6 item">
          <h5> Is your Scratch code smelly?</h> 
          <p> Analyze your Scratch project with Quality Hound </p>  
          
          <div class="row align-middle align-center">
            <div class="col"><img src="{{ "/img/quality-hound-small.png" | relURL }}" id="quality-hound"></div>
            <div class="col">
              <a class="black" href="{{ "/projects/quality-hound" | relURL }}">Let's analyze!</a>
            </div>
          </div>
    </div>

    <div class="col col-3 item"> 
      <h6> What is code smells? Learn about Code smells in Scratch. </h6>
        <a class="black" href="{{ "/resources/code-smells-for-scratch" | relURL }}">Learn about "code smells"</a>
    </div>
    
    </div>

  </div>
  </div>

</div>



{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
