{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div id="hero">
  <h3>{{.Title }}</h3>
</div>
<div class="col col-4 push-center">
	<p>{{.Params.description}}</p>
    {{ .Content }}
</div>
<div class="row">
	<div class="col col-12">
		<iframe src="https://virginiatech.qualtrics.com/jfe/form/SV_a5KpKUStsDAKe8t" name="frame1" scrolling="auto" frameborder="no" align="center" height = "800px" width = "100%">
		</iframe>
	</div>
</div>



{{ end }}
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}