{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div id="hero" class="wrap">
  <h3>{{.Title }}</h3>
    <p>{{.Params.description}}</p>
</div>
<ul id="posts">

 {{ .Content }}

</ul>
{{ end }}
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
