  <footer id="myfooter" class="footer" >

  <div class="row gutters align-middle" id="footertext" >
    <div class="col col-1"><img id="logo" src="{{ "/img/nsf.png" | relURL }}"></div>
    <div class="col col-8"  >
        
        <p class="end small">
            This research is supported in part by the National Science
          Foundation through the <a class="muted" href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1712131&HistoricalAwards=false">Grant DUE-1712131</a>.</p>
          <p class="smaller">
          Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation.
          </p>
      </div>
    
      <div class="col col-3" >
        <p class="small"> &copy; 2017 Software Innovations Lab <br> Department of Computer Science, <br>Virginia Tech </p>
      </div>      
    </div>
</footer>


