{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}



{{ define "main" }}

<link rel="stylesheet" href="{{ "/css/vis.css" | relURL }}">
<!-- <link rel="stylesheet" href="{{ "/css/jquery-ui.min.css" | relURL }}"> -->
<!-- Angular Material style sheet -->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-touch.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script> 
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.1.js"></script>

  <!-- Angular Material Library -->
<script src="{{ "/js/vis.js" | relURL }}"></script>
<script src="{{ "/js/jquery-ui.min.js" | relURL }}"></script>
<link rel="stylesheet" href="{{ "/css/smell-vis.css" | relURL }}">

<div class="content">
<div id="hero" class="wrap">
  <div class="col"><img class="hide-sm" src="{{ "/img/quality-hound-small.png" | relURL }}" id="quality-hound"></div>
  <h3>{{.Title }}</h3>
</div>



<div class="row gutters align-center" id="smellvis-body" ng-app="analysis-result" ng-controller="renderCtrl">
    <div class="col col-10" id="form-container">      
        <div class="row align-middle align-center">
          <!-- <div class="col"><img class="hide-sm" src="{{ "/img/quality-hound-small.png" | relURL }}" id="quality-hound"></div> -->
          <div class="col col-10">
            <form class="form">
              <label>Enter Scratch project URL:</label>
                <div class="form-item">

                    <div class="append w100">
                        <input type="text" name="analyze" placeholder="Search" ng-model="project_url">
                        <button class="button outline" id="button" ng-mousedown="analyze()">Analyze</button>
                    </div>
                    <div class="desc">(e.g., https://scratch.mit.edu/projects/149974792/)</div>
                </div>
            </form>


          </div>
            <div class="row align-center" ng-show="isLoading" ngcloak>
                <div class="loader"></div>
            </div>
		    </div> 
    </div>

     
    


    <div class="container">

  		<div class="row" id="nav-n-smell-display">
    		<!-- Navigation -->
    		<div ng-if="SmellsPerSprite!=null" class="col col-4" data-component="sticky" id="smell-nav">
    		  {{ readFile "/layouts/smellvis/partials/navigation.html" | safeHTML}}
    		</div> 
    		<!-- pass html code AS-IS to avoid conflict about double curly braces used in both hugo and angular-ng -->
        	
          

          <div class="col col-8 push-right">
              {{ readFile "/layouts/smellvis/partials/smellvis-ng.html" | safeHTML}}  
          </div>
          
          
      </div>

  		<g></g></svg></pre>
    
    </div>

</div>

    
</div>


{{ readFile "/layouts/smellvis/partials/scratchblock-def.html" | safeHTML}}  
<script src="{{ "/js/scratchblocks.js" | relURL }}"></script>
<script src="{{ "/js/smellvis-ng.js" | relURL }}"></script>


{{ end }}
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
