<div ng-controller="renderCtrl">
    <h4> Common code smells </h4>
    <ul>
        <li ng-repeat="s in SmellsPerSprite"  ngcloak="">
            <a href="" ng-click="gotoAnchor(s.scriptable); select(s.scriptable);">{[{s.scriptable}]}</a>
            <!-- submenu (smells) -->
            <ul class="collapse-box">
                <li ng-repeat="(smell_name, instances) in s.smells"  ngcloak="">
                    <a href="" ng-click="gotoAnchor(s.scriptable,smell_name); select(s.scriptable,smell_name);">{[{smell_name}]}</a>
                </li>
            </ul>
        </li>
    </ul>
    <h4> Other code smells </h4>
    <ul>
        <li ng-repeat="s in Others"  ngcloak="">
            <a href="" ng-click="gotoAnchor(s.name); select(s.name)">{[{s.name}]}</a>
        </li>
    </ul>
</div>
