<!-- cards show quality stats -->
<div class="row" ng-controller="renderCtrl" ng-cloak>
  <div ng-if="SmellsPerSprite!=null" class="row">
  <div class="smell-section-title-first col col-10">
    <h3> Common code smells </h3>
  </div>

  <div class="col col-10" ng-repeat="s in SmellsPerSprite">
    <md-card>
      <md-card-header>
        <md-card-avatar>
          <img id="costume" class="md-user-avatar" ng-src="https://cdn.assets.scratch.mit.edu/internalapi/asset/{[{s.costume}]}/get/">
        </md-card-avatar>
        <md-card-header-text>
          <h3><span id="anchor{[{s.scriptable}]}" class="anchor" ng-class="{err: s.smells['Uncommunicative Name']!=null, 'selected' : s.scriptable == idSelected}">{[{s.scriptable}]}</span></h3>



        </md-card-header-text>
      </md-card-header>

      <md-card-content layout-align="start center">
        <md-content layout-padding class="fix-height-card">

          <!-- common smells by sprite -->
          <div ng-repeat="(smell_name, instances) in s.smells" ng-if="smell_name != 'Uncommunicative Name'">
            <h4><span id="anchor{[{s.scriptable+smell_name}]}" class="anchor" ng-class="{'selected' : s.scriptable+smell_name == idSelected}">
              {[{smell_name}]}</span></h4>
              <ul class="unstyled">
                <span ng-repeat="instance in instances track by $index" ng-if="['Unused Variable','Broad Variable Scope'].includes(smell_name)"><span svg scratchblocks={[{instance}]}></span></span>


                <li ng-repeat="instance in instances track by $index">
                  <div ng-if="!['Duplicated Code','Uncommunicative Name', 'Unused Variable', 'Broad Variable Scope'].includes(smell_name)">
                    <div svg scratchblocks={[{instance}]}></div>
                  </div>
                  <div ng-if="smell_name == 'Duplicated Code'">
                    <!-- <h5>Clone group {[{$index}]}</h5> -->
                    <ul>
                      <li ng-repeat="clone in instance track by $index">
                        <div svg scratchblocks={[{clone}]}></div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </md-content>
        </md-card-content>
      </md-card>

    </div>
  </div>



    <!-- other smells-->
    <div class="row" ng-controller="renderCtrl" ng-cloak="">
      <div ng-if="Others!=null" class="col col-10">
        <div class="smell-section-title">
          <h3> Other code smells </h3>
        </div>
        <md-card ng-repeat="smellReport in Others" ng-if="!smellReport.vis.nodes.length==0">
          <md-card-header>
            <md-card-header-text>
              <h4><span id="anchor{[{smellReport.name}]}" class="anchor" ng-class="{'selected' : smellReport.name == idSelected}">{[{smellReport.name}]}</span></h4>
            </md-card-header-text>
          </md-card-header>
          <md-card-content layout-align="start center">
            <md-content layout-padding class="fix-height-card-vis">
              <div visjs data={[{smellReport.vis}]}><div id="snippet-display"></div></div>
            </md-content>
          </md-card>
        </div>
      </div>

    <!-- survey -->
    <div ng-show="SmellsPerSprite!=null" class="row" ng-controller="renderCtrl" ng-cloak>
      <div class="col col-10">
      <!-- survey -->
      <script>(function(t,e,s,n){var o,a,c;t.SMCX=t.SMCX||[],e.getElementById(n)||(o=e.getElementsByTagName(s),a=o[o.length-1],c=e.createElement(s),c.type="text/javascript",c.async=!0,c.id=n,c.src=["https:"===location.protocol?"https://":"http://","widget.surveymonkey.com/collect/website/js/tRaiETqnLgj758hTBazgd9IPTHSYqlT4o_2FwpUE12F0eDp_2FU5riuUUr2zg1aj1tMN.js"].join(""),a.parentNode.insertBefore(c,a))})(window,document,"script","smcx-sdk");</script><a style="font: 12px Helvetica, sans-serif; color: #999; text-decoration: none;" href=https://www.surveymonkey.com> Create your own user feedback survey </a>
    </div>
  </div>


    </div>
